<!-- about.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="col-md-8">
	<h1>About Us</h1>
	<p>ESTV or ESports Tournament Viewer is an application developed with the intent to enhance the ESports watching experience. In the last few years ESports viewership has skyrocketed with tournaments having over 30 million viewers. However, for viewers there are very few option to be able to enjoy the content and usually information about the tournament is scarce. To find out information about on the teams or the tournament require viewers to go to multiple websites. </p>
	<p>We wanted to make ESTV a one stop shop for users where they could enjoy a tournament without having to leave the page or have multiple tabs open. A site in which you could be watching a match with a new team and find out more information about their team and other games that they play or watch twitter explode with tweets about that last play in real-time. If you are new to the ESports community we hope you can find an appreciation through this website and if you already love ESports we hope this site solves some of the stresses of watching. </p>
</div>
</div>
{% endblock %}
