<!-- head.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if title %}
    <title>{{ title }} - ESTV</title>
    {% else %}
    <title>ESTV</title>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.bracket.min.css" />
    <script type="text/javascript" src="/static/js/jquery.bracket.min.js"></script>
        <script type="text/javascript">
      $(function() {
          var demos = ['doubleElimination']
          $.each(demos, function(i, d){
            var demo = $('div#'+d)
            $('<div class="demo"></div>').appendTo(demo)
          })
        })
        var doubleEliminationData = {
          teams : [
          ["<a href=team-info.html>Team 1</a>", "Team 2"],
          ["Team 3", "Team 4"]
          ],
          results : [[      /* WINNER BRACKET */
          [[1,2], [3,4]], /* first and second matches of the first round */
          [[5,6]]         /* second round */
          ], [              /* LOSER BRACKET */
          [[7,8]],        /* first round */
          [[9,10]]        /* second round */
          ], [              /* FINALS */
          [[1,12], [13,14]],
          [[15,16]]       /* LB winner won first round so need a rematch */
          ]]
        }
      </script>
  </head>
  <body>
     <nav class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ESTV {% if event %} - {{ event.name }}{% endif %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/help.html">Help</a></li>
            <li><a href="/login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
      {% block content %}{% endblock %}
  {% block footer %}
  <div class="container">
    <hr>
    <footer>
      <p>&copy; ESTV 2014 - <a href="/admin">Admin Page</a> </p>

    </footer>
  </div> <!-- /container -->
</body>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  {% if title == "Login" %}
    <link href="/static/css/signin.css" rel="stylesheet">
  {% endif %}
  {% endblock %}
</html>
