<!-- event-info.html -->
{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <iframe src="{{ event.stream }}/embed" frameborder="0" scrolling="yes" height="768" width="100%"></iframe>
        </div>
        <div class="col-md-4">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#chat">Chat</a></li>
            <li><a data-toggle="tab" href="#bracket">Bracket</a></li>
            <li><a data-toggle="tab" href="#teamInfo">Team Info</a></li>
            <li><a data-toggle="tab" href="#twitter">Twitter</a></li>
          </ul>
          <div class="tab-content">
            <div id="chat" class="tab-pane fade in active">
              <iframe src="{{ event.stream }}/chat?popout=" frameborder="0" scrolling="yes" height="768" width="100%"></iframe>
            </div>
            <div id="bracket" class="tab-pane fade">
              <div id="doubleElimination">
                <script type="text/javascript">
                $(function() {
                    $('div#doubleElimination .demo').bracket({
                      init: doubleEliminationData})
                  })
                </script>
              </div>
            </div>
            <div id="teamInfo" class="tab-pane fade">
                <ul class="nav nav-pills">
                  <li class="active"><a data-toggle="pill" href="#Team1">Team 1</a></li>
                  <li><a data-toggle="pill" href="#Team2">Team 2</a></li>
                </ul>
                <div class="tab-content">
                  <div id="Team1" class="tab-pane fade in active">
                    <div class="row">
                      <h2>Team 1</h2>
                      <div class="col-md-4">
                        <h3>Team 1 info </h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                      </div>
                      <div class="col-md-4">
                        <h2>Players</h2>
                        <li>Player 1</li>
                        <li>Player 2</li>
                        <li>Player 3</li>
                        <li>Player 4</li>
                        <li>Player 5</li>
                      </div>
                      <div class="col-md-4">
                        <h2>History</h2>
                        <li><a href="#">ESP 1 2014</a></li>
                        <li>ESP 1 2013</li>
                        <li>ESP 1 2012</li>
                      </div>
                    </div>
                  </div>

                  <div id="Team2" class="tab-pane fade">
                    <div class="row">
                      <h2>Team 2</h2>
                      <div class="col-md-4">
                        <h3>Team 2 info </h3>
                        <p>Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                      </div>
                      <div class="col-md-4">
                        <h2>Players</h2>
                        <li>Player 1</li>
                        <li>Player 2</li>
                        <li>Player 3</li>
                        <li>Player 4</li>
                        <li>Player 5</li>
                      </div>
                      <div class="col-md-4">
                        <h2>History</h2>
                        <li><a href="#">ESP 1 2014</a></li>
                        <li>ESP 1 2013</li>
                        <li>ESP 1 2012</li>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            <div id="twitter" class="tab-pane fade">
                          <a class="twitter-timeline"  href="{{event.twURL}}" data-widget-id="{{event.twID}}"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
  window.twttr = (function (d, s, id) {
  var t, js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id; js.src= "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
  return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
</script>
    {{ event.teams }}
{% endblock %}
