<!-- help.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="col-md-8">
	<h1>What is E-Sports?</h1>

	<p>E-Sports, or electronic sports, is a type of competitive video gaming that has grown significantly over the last few years. Video game tournaments started out as LAN parties in the basements of friends but with the advent of streaming technology they have exploded into a new type of entertainment. Numerous E-sports tournaments have recently popped up offering prize money of over one million dollars with corporate sponsorships and can generate up to 30 million viewers or more.  While in the past you could only video game as a hobby it has become a profession for many people and in some countries professional video gamers are treated like celebrities.</p>
	<br />
	<p> E-Sports tournaments span a wide genre of games including real-time strategy, fighting, first-person shooter, and multiple online battle arenas. Some of the top games that tournaments are designed around include League of Legends, Counter Strike, Super Smash Bros, StarCraft 2, and Dota 2. The exciting part of this gaming community is that tournaments can be found for practically every major video game and if a tournament does not exist, there are great design tools to allow anyone to host their own tournament and find someone to compete against.</p>
	<br />
	<iframe width="560" height="315" src="//www.youtube.com/embed/GpO76SkpaWQ" frameborder="0" allowfullscreen></iframe>
</div>

</div>
{% endblock %}
