<!-- index.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3>Current Tournaments</h3>
          <a href="event-info.html" class="thumbnail">
              <img src="/static/images/main.jpg" alt="Live Tournament">
          </a>
        </div>
        <div class= "col-md-4">
          <h3>Upcoming Tournaments</h3>
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-8">
              <a href="#" class="thumbnail">
              <img src="/static/images/tf2.jpg" alt="Upcoming TF2 Tournament">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <h3>Previous Tournaments</h3>
          <div class="row">
              <div class="col-sm-2">
              <a href="#" class="thumbnail">
              <img src="/static/images/brawl.jpg" alt="Previous Brawl Tournament">
              </a>
              </div>
              <div class="col-sm-2">
              <a href="#" class="thumbnail">
              <img src="/static/images/halo.jpg" alt="Previous Halo Tournament">
              </a>
              </div>
              <div class="col-sm-2">
              <a href="#" class="thumbnail">
              <img src="/static/images/csgo.jpg" alt="Previous CS:GO Tournament">
              </a>
             </div>
             <div class="col-sm-2">
              <a href="#" class="thumbnail">
              <img src="/static/images/smash-bros-1.jpg" alt="Previous Smash Bros Wii U Tournament">
              </a>
             </div>
             <div class="col-sm-2">
              <a href="#" class="thumbnail">
              <img src="/static/images/halo4.jpg" alt="Previous Halo 4 Tournament">
              </a>
             </div>
             <div class="col-sm-2">
              <a href="#" class="thumbnail">
              <img src="/static/images/battlefield4.jpg" alt="Previous Battlefield 4 Tournament">
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
